{% block content %}
  
  {% from "_macro.html" import render_field %}

  <div class="container text-center">
  <form method="POST">
    {{ render_field(form.parametros1, class='form-control') }}
    {{ render_field(form.parametros2, class='form-control') }}
    {{ render_field(form.parametros3, class='form-control')}}
    {{ render_field(form.parametros4, class='form-control')}}
    <div class="row">
      <div class="form-group col-xs-12">
        <button type="submit" class="btn btn-default">Enviar</button>
      </div>
    </div>
  </form>
  </div>

{% endblock %}